temp/
.temp/
out/
*.parkobj
*.png
/rct2/**/sprites/
sprites.json
/rct2/**/object.json

# Blender Autosave files
*.blend1

# Code editor
.vscode/*

#OS special files
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk
*.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
rct2/scenery/REFERENCE/
rct2/terrain_surface/grass/Unbenannt.jpeg
rct2/terrain_surface/grass/Cloud Computing 1.jpg
rct2/terrain_surface/grass/image_1920-9uNUbNiDtplyil_400x400@2x.jpg
