temp/
.temp/
out/
*.parkobj
*.png
/rct2/**/sprites/
sprites.json
/rct2/**/object.json

# Blender Autosave files
*.blend1

# Code editor
.vscode/*

#OS special files
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk
*.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
rct2/scenery/REFERENCE/
rct2/terrain_surface/grass/Unbenannt.jpeg
rct2/terrain_surface/grass/Cloud Computing 1.jpg
rct2/terrain_surface/grass/image_1920-9uNUbNiDtplyil_400x400@2x.jpg
rct2/Peeps/Entertainers/entertainer_panda/reference/entertainer-Panda_walk-Cycle_V001.gif
rct2/Peeps/Entertainers/entertainer_panda/reference/entertainer-Panda_walk-Cycle_V002.gif
rct2/Peeps/Entertainers/entertainer_panda/reference/entertainer-Panda_walk-Cycle_V003.gif
rct2/Peeps/Entertainers/entertainer_panda/reference/entertainer-Panda_walk-Cycle_V004.gif
rct2/Peeps/Entertainers/entertainer_panda/reference/entertainer-Panda_walk-Cycle_V005.gif
rct2/Peeps/Entertainers/entertainer_panda/reference/entertainer-Panda_walk-Cycle_V006.gif
rct2/Peeps/Entertainers/entertainer_panda/reference/entertainer-Panda_walk-Cycle_V007.gif
rct2/Peeps/Entertainers/entertainer_panda/reference/entertainer-Panda_walk-Cycle_V008.gif
rct2/Peeps/Entertainers/entertainer_panda/reference/entertainer-Panda_walk-Cycle_V009.gif
rct2/Peeps/Entertainers/entertainer_panda/reference/entertainer-Panda_walk-Cycle_V010.gif
rct2/Peeps/Entertainers/entertainer_panda/reference/entertainer-Panda_walk-Cycle_V011.gif
rct2/Peeps/Entertainers/entertainer_panda/reference/entertainer-Panda_walk-Cycle_V012.gif
rct2/scenery/Custom/AuraSpecs/model export/AuraSpecs_V001.blend
rct2/scenery/Custom/AuraSpecs/model export/Aura Specs.fbx
rct2/scenery/Custom/AuraSpecs/AURASPECS-Object/Aura-Specs_V004.blend
rct2/scenery/Custom/AuraSpecs/AURASPECS-Object/Aura-Specs_V003.blend
rct2/scenery/Custom/AuraSpecs/AURASPECS-Object/Aura-Specs_V002.blend
rct2/scenery/Custom/AuraSpecs/AURASPECS-Object/Aura-Specs_V001.blend
rct2/scenery/Custom/AuraSpecs/AURASPECS-Object/Aura-Specs_V000.blend
rct2/scenery/Custom/AuraSpecs/Reference/20220901_112203.jpg
rct2/scenery/Custom/AuraSpecs/Reference/20230904_120037.jpg
rct2/scenery/Custom/AuraSpecs/Reference/20230904_193833.jpg
rct2/scenery/Custom/AuraSpecs/Reference/E4Q6TThXoAMx982.jpg
rct2/scenery/Custom/AuraSpecs/Reference/PXL_20220327_090239193.jpg
rct2/scenery/Custom/AuraSpecs/Reference/PXL_20230211_133922403.jpg
rct2/scenery/Custom/AuraSpecs/Reference/PXL_20240729_195913985.jpg
